<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Nurabi/Nurabi_Dashboard1">
        <classes>






        <class name="Tests.Activity_Test">
            <methods>
                <include name="loginWithValidData"/>
                <include name="createDailyActivityWithValidDataSidePanel"/>
                <include name="createWeeklyActivityWithValidData"/>
                <include name="createMonthlyActivityWithValidData"/>
</methods>
        </class>
        </classes>
    </test>
</suite>